<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        /* form{
            padding: 10px;
        } */
    </style>
</head>

<body>
    <h1> Opa, chegou! </h1>
    <!-- <form action="/loja/pesquisar" method="post">
        {{% csrf token %}}
        <label for="pesquisa>Pesquisar:</label>
        <input type="text" name="pesquisa" id="">
        <input type="submit" value="Enviar">
    </form> -->
</body>
</html>